/* This is a commnet in CSS */


/* Add a black background color to the top navigation */
.nav {
  background-color: #4c339f;
  overflow: hidden;
  border: 1px solid whitesmoke;
}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: #bd9468;
  color: white;
}

/* Add a color to the active/current link */
.nav a.active {
  background-color:#964185;
  color: white;
}

.banner{
    position: relative;
    overflow: hidden; 

}
.banner::before{
    content: '';
    background-image: url("files/purple-bg.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom:0px;
    left: 0px;
    opacity: 0.75;
    display: block;
    width: auto;
    height: auto; */
    position: relative;
    overflow: hidden;
    /* z-index: 1; */

/*     background-position: 50% 0;
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover; */
/*     background-size: cover; */
/*     border: 1px solid whitesmoke;
 */    /*padding: 40px;
    margin: 40px;*/
/*     margin-top: 0.1cm;
 */
    
}

/* .parent .banner{
    opacity: 0.5;
} */
.title {
    padding: 10px;
    position: relative;
    z-index: 2;
    /* color: #bd9468;  */
    margin-left: 20px;
    font-size: 26pt;
    text-align: center;
    -webkit-text-stroke: 0.5px #FFF;
    opacity: 1;
    
}

.subtitle{
    /* color:rgb(170, 228, 255); */
    text-align:left;
    font-weight:bold;
    opacity: 1;
}

body {
/*   background-image: url("https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  background-color: #000000;
  background-position: left top, top;
  background-repeat: no-repeat;
  background-size: cover; */
}


/* div p {
    color: blanchedalmond;
    background-color: orange;
   
    width: auto;
    border: 1px solid whitesmoke;
    padding: 50px;
    margin: 20px;
}
*/



/* div > p {
    color: blanchedalmond;
    background-color: black;
} */


/*
p {
  font-family: verdana;
  font-size: 20px;
}
*/
.para {
    color: whitesmoke;
}
.links { 
    font-family: cursive;
    color: tomato;
}
.ima {
    background-color: turquoise;
    display:inline;
    
}

#cat {
    background-color: turquoise;
}

a[target] {
    background-color: pink;
}

a[target=_blank] {
    background-color: violet;
}

input[type=text] {
    width: 10px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
}

input[type=text]:focus {
    width: 300px;

}

#first {
    color:red;
}